/*---------- GOOGLE FONT IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');


/*---------- ROOT VARIABLES ----------*/
:root {
    /*----- Typography -----*/
    --header-text: 'Pacifico', cursive;
    --content-text: 'Montserrat', sans-serif;
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --rose: #BC8F8F;
    --slate: #778899;
    --grey: #DCDCDC;
    --bronze: #CD853F;
    --brown: #90522D;
}


/*---------- NAVBAR ----------*/
.navbar.bg-light {
    background-color: var(--rose) !important;
}

.navbar-brand {
    font-family: var(--header-text);
    font-size: 1.5rem;
}


/*---------- BODY - Background Image ----------*/
body {
    background-image: url("../images/openbooks.webp");
    background-color: var(--brown);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--content-text);
    font-size: 1.2rem;
}



h1 {
    color: var(--white);
    text-shadow: 8px 8px 6px #000000a0;
    font-family: var(--header-text);
    font-size: 7rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}


/*---------- PANEL ----------*/
.panel {
    background: rgba( 220, 220, 220, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 2rem;
    padding-bottom:2 rem;
}

a {
    text-decoration: none;
}

/*---------- FLASH MESSAGES ----------*/
.flashes h4 {
    background-color: var(--slate);
    color: var(--white);
    line-height: 2;
    padding: 1rem;
}