/*---------- GOOGLE FONT IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');


/*---------- ROOT VARIABLES ----------*/
:root {
    /*----- Typography -----*/
    --header-text: 'Pacifico', cursive;
    --content-text: 'Montserrat', sans-serif;
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --rose: #BC8F8F;
    --slate: #778899;
    --grey: #DCDCDC;
    --bronze: #CD853F;
    --brown: #90522D;
    --light_brown: #AC9575;
}


/*---------- NAVBAR ----------*/
.navbar.bg-light {
    background-color: var(--light_brown) !important;
}

.navbar-brand {
    font-family: var(--header-text);
    font-size: 1.5rem;
}


/*---------- Hero Image behind headings ----------*/
.hero {
    margin-bottom: 4rem;
}

.bg-image {
    background-image: url("../images/openbooks.webp");
    background-repeat: repeat; 
    background-position: center;
    background-size: contain;
    height: 250px;
}

/*---------- BODY ----------*/
body {
    background-color: #ac957585;
    font-family: var(--content-text);
    font-size: 1.2rem;
}

h1 {
    color: var(--white);
    text-shadow: 8px 8px 6px #000000a0;
    font-family: var(--header-text);
    font-size: 7rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}


/*---------- PANEL ----------*/
.panel {
    /* Rose coloured Panel */
    background: rgba( 188, 143, 143, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    /* grey coloured panel */
    /* background: rgba( 220, 220, 220, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 2rem;
    padding-bottom:2 rem; */
}

.card {
    padding: 2rem;
}
a {
    text-decoration: none;
}

/*---------- FLASH MESSAGES ----------*/
.flashes h4 {
    background-color: var(--rose);
    line-height: 2;
    padding: 1rem;
}