/*---------- GOOGLE FONT IMPORT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');


/*---------- ROOT VARIABLES ----------*/
:root {
    /*----- Typography -----*/
    --header-text: 'Pacifico', cursive;
    --content-text: 'Montserrat', sans-serif;
    /*----- Colours -----*/
    --white: #ffffff;
    --black: #000000;
    --rose: #BC8F8F;
    --slate: #6C757D;
    --grey: #DCDCDC;
    --bronze: #CD853F;
    --brown: #90522D;
    --light_brown: #AC9575;
}


/*---------- NAVBAR ----------*/
.navbar.bg-light {
    background-color: var(--light_brown) !important;
}

.navbar-brand {
    font-family: var(--header-text);
    font-size: 1.5rem;
}


/*---------- HEADINGS ----------*/
.hero {
    margin-bottom: 4rem;
}

.bg-image {
    background-image: url("../images/openbooks.webp");
    background-repeat: repeat; 
    background-position: center;
    background-size: contain;
    height: 150px;
}


/*---------- BODY ----------*/
body {
    background-color: #ac957585;
    font-family: var(--content-text);
    font-size: 0.8rem;
}

h1 {
    color: var(--white);
    text-shadow: 8px 8px 6px #000000a0;
    font-family: var(--header-text);
    font-size: 3rem;
}

h5, h6 {
    text-align: center;
}


/*---------- PAGE CARD PANEL ----------*/
.panel {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* Rose coloured Panel */
    background: rgba( 188, 143, 143, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/*---------- FLASH MESSAGES ----------*/
.flashes h4 {
    background-color: var(--rose);
    line-height: 2;
    padding: 1rem;
}


/*---------- Index page Image ----------*/

#homeImage {
    width: 75%;
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*---------- MODALS ----------*/

/* bug fix - no overlay - Documented in readme bugs section */
.modal-backdrop {
    display: none;    
}


/*---------- BOOK SEARCH ----------*/
/* Accordion button */
.accordion-button:not(.collapsed) {
    color: var(--slate);
    background-color: var(--white);
}

.accordion-btn-color {
    color: var(--slate);
}

.accordion {
    --bs-accordion-border-color: var(--white);
}

.card-img-top {
    height: 300px;
}

.card-footer {
    background-color: var(--white);
    border-top: none;
}

a {
    text-decoration: none;
}


/*---------- REVIEW FORM INPUTS ----------*/
/* Book Review Star Ratings */
/* Code Source: https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576 */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: var(--bronze);
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

input {
    width: 100%;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

/*---------- MEDIA QUERIES ----------*/
/* Tablets */
@media only screen and (min-width : 481px) {
    h1 {
        font-size: 3.5rem; 
    }

    body {
        font-size: 1rem;
    }

}

/* Laptops */
@media only screen and (min-width : 769px) {

    h1 {
        font-size: 5rem;  
    }
        
}

.contentImage {
    width: 75%;
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

