{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">
    
            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image h-150 d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Add a Bookshelf</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto text-center">
                    <h2 class="mb-3">Create a new bookshelf</h2>

                    <!-- Add bookshelf form -->
                    <form class="col-10 mx-auto" action="{{ url_for('books.add_bookshelf') }}" method="POST">
                        <div class="input-group input-group-lg mb-3">
                            <input type="text" class="form-control ms-5 validate" id="new_shelf" name="new_shelf"
                                placeholder="Bookshelf Name" minlength="3" maxlength="25" required>
                            <button class="btn btn-outline-secondary me-5" type="submit">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </section>

    {% endblock %}