{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">
            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Add a Review</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto">

                    <!-- Add Book review form -->
                    <form class="mx-auto" action="{{ url_for('books.add_review') }}" method="POST">

                        <!-- Book Cover-->
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col text-center">

                                <!-- Book Cover Image-->
                                <input type="hidden" value="{{ shelve_book.thumbnail }}" name="cover_url" />
                                <img src="{{ shelve_book.thumbnail }}" alt="{{ shelve_book.title }} book cover" />
                            
                            </div>

                            <!-- Book Title (REQUIRED)-->
                            <div class="col">
                                <label for="book_title">Title: </label>
                                <input class=" reviewInput mb-3" type="text" name="book_title" id="book_title" placeholder="Title" value="{{ shelve_book.title }}" required />

                                <!-- Book Author (REQUIRED) -->
                                    <label for="book_author">Author: </label>
                                    <input class=" reviewInput mb-4" type="text" name="book_author" placeholder="Author" id="book_author" {% for author in shelve_book.authors %} value="{{ author }}"{% endfor %} required />

                                <!-- Bookshelf -->
                                <select class="form-select mb-3" aria-label="Default select example">
                                    <option selected>Choose a Shelf</option>
                                        {% for bookshelf in bookshelves %}
                                            <option name="{{ bookshelf.id }}" value="{{ bookshelf.id }}">{{ bookshelf.shelf_name }}</option>
                                        {% endfor %}
                                </select>

                                <!-- Star Rating (click on stars to leave a rating from 1 to 5) -->
                                <div class=" col mb-3 rating" >
                                    <input type="radio" name="rating" value="5" id="5"><label for="5"><i class="bi bi-star"></i></label> 
                                    <input type="radio" name="rating" value="4" id="4"><label for="4"><i class="bi bi-star"></i></label> 
                                    <input type="radio" name="rating" value="3" id="3"><label for="3"><i class="bi bi-star"></i></label> 
                                    <input type="radio" name="rating" value="2" id="2"><label for="2"><i class="bi bi-star"></i></label> 
                                    <input type="radio" name="rating" value="1" id="1"><label for="1"><i class="bi bi-star"></i></label>
                                </div>   
                            </div>   
                        </div>

                        <div class="row row-cols-1">
                            <!-- Review - text area-->
                            <div class="col mb-3">
                                <label for="book_review">Review: </label>
                                <textarea class="reviewTextarea" id="book_review" name="book_review" rows="5" placeholder="Add your Review Here"></textarea>
                            </div>
                        </div>

                        <div class="row row-cols-1 ">
                            <!-- Notes -text area -->
                            <div class="col mb-3">
                                <label for="book_notes">Notes: </label>
                                <textarea class="reviewTextarea" id="book_notes" name="book_notes" rows="5" placeholder="Add any notes here"></textarea>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="row row-cols-2 row-cols-md-4 mx-auto ">
                            <button class="btn btn-outline-secondary mx-auto" type="submit">
                                Add Book
                                <i class="bi bi-book"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </section>

    {% endblock %}