{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">
    
            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image h-150 d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Add a Bookshelf</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto text-center">
                    <h2 class="mb-3">Create a new bookshelf</h2>

                    <!-- Add bookshelf form -->
                    <form class="col-10 mx-auto" action="{{ url_for('books.add_bookshelf') }}" method="POST">
                        <label for="new_shelf" hidden>New Shelf:</label>    
                        <input type="text" class="form-control validate mb-3" id="new_shelf" name="new_shelf"
                                placeholder="Shelf Name" minlength="3" maxlength="25" required>
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bi bi-plus" aria-label="Add Bookshelf"></i> Add Bookshelf
                            </button>
                    </form>
                </div>
            </div>

        </section>

    {% endblock %}