<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />

    <!-- SOCIAL MEDIA INTERGRATION -->
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bookworm" />
    <meta property="og:description" content="" />
    <meta name="image" property="og:image" content="" />
    <meta property="og:image:alt" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta name="author" content="Kera Cudmore" />

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest"
        href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <!-- STYLESHEETS -->
    <!-- Bootstrap v5.2.0 -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Stylesheet -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}" />

    <title>Bookworm</title>
</head>

<body>
    <header>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/booklogo.webp') }}"
                        alt="Line art illustration of an open book" width="50"
                        height="50" class="d-inline-block align-text-center" />
                    Bookworm</a>
                <!-- Mobile View Toggler -->
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">

                    <!-- Navbar Links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="#">
                                <i class="bi bi-house-heart"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('auth.login') }}">
                                <i class="bi bi-box-arrow-in-right"></i> Login</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{{ url_for('auth.register') }}">
                                <i class="bi bi-person-plus"></i> Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-bookshelf"></i> Bookshelves</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-book"></i> Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-person"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-box-arrow-right"></i> Log Out</a>
                        </li>
                    </ul>
                    <!-- Search Bar -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search"
                            placeholder="Search" aria-label="Search" />
                        <button class="btn" type="submit">
                            <i class="bi bi-search-heart"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- FLASH MESSAGES -->
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4>{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- Main page Content -->

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <footer>
        <nav class="navbar sticky-bottom bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bookworm</a>
            </div>
        </nav>
    </footer>

    <!-- JAVASCRIPT -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>