{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">

            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Edit a Bookshelf</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto text-center">

                    <!-- Edit bookshelf form -->
                    <form class="col-10 mx-auto" method="POST"
                        action="{{ url_for('books.edit_bookshelf', bookshelf_id=bookshelf.id) }}">
                            
                            <!-- Edit shelf name input -->
                            <label for="edit_shelf" hidden></label>
                            <input type="text" class="form-control mb-3 validate"
                                id="edit_shelf" name="edit_shelf"
                                value="{{ bookshelf.shelf_name }}" minlength="3"
                                maxlength="25" required>
                            
                            <!-- Submit button-->
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="bi bi-pencil-square" aria-label="submit"></i>
                                Edit Bookshelf
                            </button>
                        </form>
                    
                </div>
            </div>

        </section>

    {% endblock %}