{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">

            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image d-flex align-items-center justify-content-center">
                        <h1 class="text-center">{{ error_number }} Error</h1>   
                    </div>
                </div>
            </div>
        
            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto text-center">
                    <h2 class="mb-4">Oh Dear!</h2>
                    <img src="{{ url_for('static', filename='images/shelved-books.webp') }}" class="contentImage" alt="Photo of the back of some books shelved." />
                    <p>{{ error_message }}</p>
                    <p>Use the navigation bar above to try again, or go 
                        <a href="{{ url_for('main.home') }}" class="text-muted">home</a>
                    </p>
                </div>
            </div>

        </section>

    {% endblock %}