{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">

            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Welcome to Bookworm!</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 panel">
                <div class="col-10 mx-auto text-center">
                    <h2 class="pb-1">Bookworm: A site for Bibliophiles to keep track of their books!</h2>
                    <img src="{{ url_for('static', filename='images/book-heart.webp') }}" class="contentImage">
                    <div class="mx-5">
                        <p>Register for an account with Bookworm and you'll be able to create your own personalised bookshelf system to help you keep track of your reading.</p>
                        <p>Use the search function to find books to shelf, and leave a review or some notes on your books.</p>
                    </div>
                </div>
            </div>

        </section>

    {% endblock %}