{% extends "base.html" %}

{% block content %}

<section class="container-fluid">
    <!-- Page Heading -->
    <div class="col-12">
        <div class="row hero">
            <div class="bg-image h-150 ">
                <h1 class="text-center">Welcome to Bookworm!</h1>
            </div>
        </div>
    </div>

    <div class="col-10 mx-auto mb-5 panel">
        <div class="col-12 text-center">
            <p>Hello and Welcome to Bookworm, a site that allows bibliophiles to keep track of their books!</p>
            <p>So how does bookworm work?</p>
            <p>Use the search function to find books you would like to shelve on your own bookshelves.</p>
            <p>Bookworm also allows you to leave a review or some notes on any of your shelved books</p>
        </div>
    </div>

</section>

{% endblock %}