{% extends "base.html" %}

{% block content %}

<section class="container-fluid">
    <!-- Page Heading -->
    <div class="col-12">
        <div class="row hero">
            <div class="bg-image h-150 ">
                <h1 class="text-center">Welcome to Bookworm!</h1>
            </div>
        </div>
    </div>

    <div class="col-10 col-lg-8 mx-auto mb-5 panel">
        <div class="col-12 text-center">
            <p>Bookworm is a site for booklovers to keep track of their books!
            </p>
            <p>So how does bookworm work?</p>
            <p>Use the search to find a book you would like to shelve...</p>
        </div>
    </div>

</section>

{% endblock %}