{% extends "base.html" %}
    {% block content %}
        
        <section class="container-fluid">

            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Login</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-10 mx-auto text-center">
                    <h2 class="mb-3">Log into your account and get tracking!</h2>
                </div>
        
                <!-- Login Form -->
                <form action="{{ url_for('auth.login') }}" method="POST">

                    <!-- Username Input-->
                    <div class="mx-5 mb-4">
                        <label class="form-label">Username </label>
                        <input class="form-control" type="text" name="username" placeholder="Username">
                    </div>
            
                    <!-- Password Input -->
                    <div class="mx-5 mb-4">
                        <label class="form-label">Password </label>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
            
                    <!-- Sign In Button -->
                    <div class="text-center">
                        <button class="btn btn-outline-secondary btn-lg mb-3" type="submit">Sign In</button>
                    </div>
            
                    <!-- Link to register page for new users -->
                    <p class="text-center mx-5 mt-3">Don't have an account yet? Wiggle on over to the
                        <a class="text-reset" href="{{ url_for('auth.register') }}">Register Page.</a>
                    </p>
                    
                </form>
            </div>

        </section>

    {% endblock %}