{% extends "base.html" %}

{% block content %}

<section class="container-fluid">
    <!-- Page Heading -->
    <div class="col-12">
        <div class="row hero">
            <div class="bg-image h-150 ">
                <h1 class="text-center">Profile</h1>   
            </div>
        </div>
    </div>

    <div class="col-10 col-lg-8 mx-auto mb-5 card panel">
        <div class="col-12 text-center">
          <p>Profile Page</p>
        </div>
        
      </div>




</section>

{% endblock %}