{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">
    
            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image h-150 d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Profile</h1>   
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-12 text-center">
                    <h2 class="mb-3">Profile Page</h2>
                </div>
            </div>

        </section>

    {% endblock %}