{% extends "base.html" %} {% block content %}

<section class="container">
    <!-- Page Heading -->
    <div class="col-12 text-center">
        <div class="row">
            <h1>Register</h1>
        </div>
    </div>

    <!-- Register Panel -->
    <div class="col-12 col-lg-8 mx-auto mb-5 panel">
        <div class="col-12 text-center">
            <p>Register for an account and start tracking your reading today!</p>
        </div>
        <form method="POST" action="{{ url_for('auth.register') }}">

            <!-- USERNAME -->
            <!-- Defensive programming - minlength 5 maxlength 15, 
                RegEx - allowing a-z, A-Z & 0-9 between 5 and 15 characters long -->
            <div class="m-5 text-center">
                <label for="username" class="form-label">Username </label>
                <input class="form-control" type="text" name="username"
                    id="username" placeholder="Username" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required/>
            </div>

            <!-- NAME -->
                <div class="m-5 text-center">
                    <label for="username" class="form-label">Name </label>
                    <input class="form-control" type="text" name="name"
                        id="name" placeholder="Name"required/>
                </div>

            <!-- EMAIL -->
            <div class="m-5 text-center">
                <label for="email" class="form-label">Email </label>
                <input class="form-control" type="email" name="email"
                    id="email" placeholder="Email" required/>

            <!-- PASSWORD -->
            <!-- Defensive programming - minlength 5 maxlength 15,
                RegEx - allowing a-z, A-Z & 0-9 between 5 and 15 characters long-->
            <div class="m-5 text-center">
                <label for="password" class="form-label">Password </label>
                <input class="form-control" type="password" name="password"
                    id="password" placeholder="Password" minlength="5" 
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required/>
            </div>

            <!-- SIGN UP BUTTON -->
            
            <div class="text-center">
                <button class="btn btn-light btn-lg mb-3" type="submit">Register</button>
            </div>

            <p class="text-center mt-3">
                Already have an account yet? Wiggle on over to the
                <a class="text-reset" href="{{ url_for('auth.login') }}">Login Page.</a>
            </p>
        </form>
    </div>
</section>

{% endblock %}