{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <!-- Page Heading -->
    <div class="col-12">
        <div class="row hero">
            <div class="bg-image h-150 ">
                <h1 class="text-center">Search</h1>
            </div>
        </div>
    </div>

    <div class="col-10 mx-auto mb-5 panel">
        <div class="col-12 text-center">
            <p>Bookworm is a site for booklovers to keep track of their books!
            </p>
            <p>So how does bookworm work?</p>
            <p>Use the search to find a book you would like to shelve...</p>

            <!-- Google Books Search -->

            <form action="" method="POST">
                <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control ms-5"
                        placeholder="Search for a book"
                        aria-label="Search for a book"
                        id="searchquery" name="searchquery">
                    <button class="btn btn-outline me-5" type="submit">
                        <i class="bi bi-search-heart"></i>
                    </button>
                </div>
            </form>

            <div>



                <!-- Jinja for loop to go here to iterate over the results from the api request and display
                the book title, author, description and thumbnail together with a button to add review-->
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- Put for loop here -->
                    {% for result in results %}
                    <div class="col">
                      <div class="card h-100">
                        <img src="{{ result.volumeInfo.imageLinks.thumbnail }}" class="card-img-top" alt="..."><!-- book thumbnail here-->
                        <div class="card-body">
                          <h5 class="card-title">{{ result.volumeInfo.title }}</h5>
                          <h6 class="card-title">{{ result.volumeInfo.authors }}</h6>
                          <p class="card-text">{{ result.volumeInfo.description }} </p>
                        </div>
                        <div class="card-footer">
                          Put add review button here
                        </div>
                      </div>
                    </div>
                    {% endfor %}


                    <!-- delete these when I add the jinja templating
                    <div class="col">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
                     delete above here -->
                  </div>


        </div>
    </div>










</section>
{% endblock %}