{% extends "base.html" %}
    {% block content %}

        <section class="container-fluid">
        
            <!-- PAGE HEADING BANNER -->
            <div class="col-12">
                <div class="row hero">
                    <div class="bg-image h-150 d-flex align-items-center justify-content-center">
                        <h1 class="text-center">Search</h1>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENTS CARD PANEL -->
            <div class="col-10 mx-auto mb-5 card panel">
                <div class="col-12 text-center">

                    <!-- Google Books Search -->
                    <form action="{{ url_for('books.search') }}" method="POST">
                        <div class="input-group input-group-lg mb-3">
                            <input type="text" class="form-control ms-5" placeholder="Search for a book"
                            aria-label="Search for a book" id="searchquery" name="searchquery">
                            <button class="btn btn-outline-secondary me-5" type="submit">
                            <i class="bi bi-search-heart"></i>
                            </button>
                        </div>
                    </form>

                    <!-- Book Search Results -->
                    <div>
                        <!-- Cards to display book results - 3 cols on Lg, 2 cols on med & 1 col on small screens-->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                            <!-- Jinja for loop iterates over the results from the api request & displays
                            book title, author, description and thumbnail on card -->
                            {% for result in results %}
                                <div class="col mt-5">
                                    <div class="card h-100">
                                        <img src="{{ result.volumeInfo.imageLinks.thumbnail }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ result.volumeInfo.title }}</h5>
                                            <h6 class="card-title">{{ result.volumeInfo.authors }}</h6>
                                            <!-- <p class="card-text">{{ result.volumeInfo.description }} </p> -->
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ url_for('books.add_review') }}" class="btn btn-outline-secondary">Shelve this book</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>
    {% endblock %}