{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <!-- Page Heading -->
    <div class="col-12">
        <div class="row hero">
            <div class="bg-image h-150 ">
                <h1 class="text-center">Search</h1>
            </div>
        </div>
    </div>

    <div class="col-10 mx-auto mb-5 card panel">
        <div class="col-12 text-center">

            <!-- Google Books Search -->

            <form action="" method="POST">
                <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control ms-5"
                        placeholder="Search for a book"
                        aria-label="Search for a book"
                        id="searchquery" name="searchquery">
                    <button class="btn btn-outline-secondary me-5" type="submit">
                        <i class="bi bi-search-heart"></i>
                    </button>
                </div>
            </form>

            <div>
                <!-- Jinja for loop to go here to iterate over the results from the api request and display
                the book title, author, description and thumbnail together with a button to add review-->
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <!-- Put for loop here -->
                    {% for result in results %}
                    <div class="col mt-5">
                      <div class="card h-100">
                        <img src="{{ result.volumeInfo.imageLinks.thumbnail }}" class="card-img-top" alt="..."><!-- book thumbnail here-->
                        <div class="card-body">
                          <h5 class="card-title">{{ result.volumeInfo.title }}</h5>
                          <h6 class="card-title">{{ result.volumeInfo.authors }}</h6>
                         <!-- <p class="card-text">{{ result.volumeInfo.description }} </p> -->
                        </div>
                        <div class="card-footer">
                          <a href="" class="btn btn-outline-secondary">Shelve this book</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>

</section>
{% endblock %}